/* Core CSS required for Ionic components to work properly */
@import "@ionic/vue/css/core.css";
@import "@ionic/vue/css/palettes/dark.system.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/vue/css/normalize.css";
@import "@ionic/vue/css/structure.css";
@import "@ionic/vue/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/vue/css/padding.css";
@import "@ionic/vue/css/float-elements.css";
@import "@ionic/vue/css/text-alignment.css";
@import "@ionic/vue/css/text-transformation.css";
@import "@ionic/vue/css/flex-utils.css";
@import "@ionic/vue/css/display.css";

/* ion-toast renders in shadow DOM; style it through its CSS variables */
.toast-info {
  --background: #11c1f3;
  --border-color: #0a9dc7;
  --border-style: solid;
  --border-width: 1px;
  --color: #fff;
}

.toast-warn {
  --background: #ffc900;
  --border-color: #e6b500;
  --border-style: solid;
  --border-width: 1px;
  --color: #fff;
}

.toast-error {
  --background: #ef473a;
  --border-color: #e42112;
  --border-style: solid;
  --border-width: 1px;
  --color: #fff;
}

.toast-debug {
  --background: #444444;
  --border-color: #111;
  --border-style: solid;
  --border-width: 1px;
  --color: #fff;
}

.info-modal .alert-message {
  max-height: 100%;
  padding-bottom: 0;
}
